/node_modules
/public/index.php
/public/hot
/public/storage
/public/js/app.js
/storage/*.key
/storage/debugbar/*
/vendor
/app/Console/Kernel.php
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
yarn.lock
composer.lock
package-lock.json
.DS_Store
