// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

/* adding stuff here - SED, 2/28/20*/
.related-list {
	width: 100%;
	clear: both;
	padding-top: 2em;
}
.details,
.users {
	float: left;
}
.details {
	width: 35%;
}
.users {
	width: 65%;
	padding-left: 3em;
}
.section-title,
.section-action {
	display: inline-block;
}
.section-action.v-btn,
a.section-action {
	margin-left: 1em;
	vertical-align: super;
}
.section-action.align-right {
	display: block;
	float: right;
	margin-top: 1em;
}
.page-header {
	float: left;
	width: 80%;
	margin-bottom: 1em;
}
.page-action {
	float: left;
	width: 20%;
}
form .v-subheader {
	padding-left: .5em;
}
form .v-subheader,
.field-wrapper .v-input {
	display: inline-block;
}
.v-application--wrap {
	display: block !important;
}
main #app {
	padding: 1em;
}
.in-page-form {
	margin-bottom: 1em;
	padding: .5em;
	background-color: #efefef;
	border-radius: 5px;
	border: 1px solid #dadada;
}
.in-page-form .v-input-selection-controls {
	margin-top: 0;
	padding-top: 0;
}
.v-application--is-ltr .v-text-field--outlined fieldset {
    background-color: #fff;
}
.theme--light.v-input textarea {
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: .5em;
}
.field-wrapper .v-input {
	padding-top: 0;
	margin-top: 0;
	max-width: 75%;
}
.field-wrapper.has-label {
	margin-top: 1em;
}
.in-page-form .v-textarea label {
    padding-left: .5em;
}
.form-fields .v-input {
    display: inline-block;
    margin-right: 1em;
}
.btn.section-action {
	color: #006699;
}
.saved-report .v-card-actions,
.saved-report .v-card-title {
	display: inline-block;
}
.v-application .v-btn.primary {
	background-color: #006699 !important;
	border: #006699 !important;
	color: white;
}
.v-card-title {
	font-size: 1.4rem;
	padding: .75em .5em 0;
}
.v-card-actions {
    vertical-align: 0.2em;
}
.component-subhead {
    margin-bottom: 1em;
}
.v-application.theme--light a {
    color: #069;
}
.alert-High {
	background-color: red;
	color: white;
}
.alert-Medium {
	background-color: #006699;
	color: white;
}
.alert-Low {
	background-color: #3399CC;
}
.saved-report .v-card__text p {
    font-size: 1.2em;
    color: black;
    font-weight: 500;
}
.actionable-subhead {
	display: inline-block;
}
/*.flex {
	display: flex;
}*/
.more {
	margin-top: 1em;
}
.dashboard-section {
	margin-top: 2em;
}
.status-message {
    position: relative;
    margin-bottom: 1rem;
	border-radius: 0.25rem;
	font-weight: bold;
}
.good {
	display: block;
    padding: 0.75rem 1.25rem;
    border: 1px solid #1b5e20;
    background-color: #66bb6a;
}
.fail {
	display: block;
    padding: 0.75rem 1.25rem;
    border: 1px solid #d50000;
    background-color: #ff5252;
}