// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

/* adding stuff here - SED, 2/28/20*/
.related-list {
	width: 100%;
	clear: both;
	padding-top: 2em;
}
.details,
.users {
	float: left;
}
.details {
	width: 50%;
}
.users {
	width: 50%;
	padding-left: 3em;
}
.section-title,
.section-action {
	display: inline-block;
}
.section-action.v-btn,
a.section-action {
	margin-left: 1em;
	vertical-align: super;
}
.section-action.align-right {
	display: block;
	float: right;
	margin-top: 1em;
}
.page-header {
	float: left;
	width: 80%;
	margin-bottom: 1em;
}
.page-action {
	float: left;
	width: 20%;
}
form .v-subheader {
	padding-left: .5em;
}
form .v-subheader,
.field-wrapper .v-input {
	display: inline-block;
	margin-bottom: 1em;
}
.v-application--wrap {
	display: block !important;
}
main #app {
	padding: 1em;
}
.in-page-form {
	width: 100%;
	margin-bottom: 1em;
	padding: .5em;
	border: 1px solid #dadada;
	background-color: #efefef;
	border-radius: 5px;
}
.in-page-form .v-input-selection-controls {
	margin-top: 0;
	padding-top: 0;
}
.v-application--is-ltr .v-text-field--outlined fieldset {
    background-color: #fff;
}
.theme--light.v-input textarea {
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: .5em;
}
.field-wrapper .v-input {
	padding-top: 0;
	margin-top: 0;
	max-width: 75%;
}
.field-wrapper.has-label {
	margin-top: 1em;
}
.in-page-form .v-textarea label {
    padding-left: .5em;
}
.form-fields .v-input {
    display: inline-block;
    margin-right: 1em;
}
.btn.section-action {
	color: #006699;
}
.saved-report .v-card-actions,
.saved-report .v-card-title {
	display: inline-block;
}
.v-application .v-btn.primary {
	background-color: #006699 !important;
	border: #006699 !important;
	color: white;
}
.v-card-title {
	font-size: 1.4rem;
	padding: .75em .5em 0;
}
.v-card-actions {
    vertical-align: 0.2em;
}
.component-subhead {
    margin-bottom: 1em;
}
.v-application.theme--light a {
    color: #069;
}
.alert-High {
	background-color: red;
	color: white;
}
.alert-Medium {
	background-color: #006699;
	color: white;
}
.alert-Low {
	background-color: #3399CC;
}
.saved-report .v-card__text p {
    font-size: 1.2em;
    color: black;
    font-weight: 500;
}
.actionable-subhead {
	display: inline-block;
}
.more {
	margin-top: 1em;
}
.dashboard-section {
	margin-top: 2em;
}
.status-message {
    position: relative;
    margin-bottom: 1rem;
    margin-bottom: 1rem;
	border-radius: 0.25rem;
	font-weight: bold;
}
.good {
	display: block;
    padding: 0.75rem 1.25rem;
    border: 1px solid #1b5e20;
    background-color: #66bb6a;
}
.fail {
	display: block;
    padding: 0.75rem 1.25rem;
    border: 1px solid #d50000;
    background-color: #ff5252;
}
.harvest-status {
	margin-top: 1em;
	font-size: 1.2em;
	font-weight: bold;
}
/* new class - LSR: 11/28/22 */
.main_content {
  margin: 0 auto;
  max-width: 1366px;
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}
.dt_action {
  display: flex;
  justify-content: flex-end;
}
// Reversed input variant
.v-input--reverse .v-input__slot {
  flex-direction: row-reverse;
  justify-content: flex-end;
  .v-application--is-ltr & {
    .v-input--selection-controls__input {
      margin-right: 0;
      margin-left: 8px;
    }
  }
  .v-application--is-rtl & {
    .v-input--selection-controls__input {
      margin-left: 0;
      margin-right: 8px;
    }
  }
}
//Login-page-specific styles
.loginContainer {
  width: 100%;
	height: 100%;
	display: flex;
  justify-content: center;
	margin-left: 0;
	margin-right: 0;
	background-color: #9fc5f8;
}
.loginBox {
	display: flex;
	overflow: auto;
	margin-top: 100px;
  width: 400px;
	height: 440px;
	border-radius: 5px;
	background-color: #fff;
	border: 2px solid #000000;
}
.img-top {
  display: flex;
	width: 100%;
  flex-shrink: 0;
	justify-content: center !important;
}
.login-form {
	width: 100%;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 2em;
	margin-right: 2em;
	padding: 1em;
}
.v-btn.login-primary {
	background-color: #6fa8dc !important;
	// background-color: #006699 !important;
	border: #006699 !important;
	color: #000 !important;
}
i.size-16 {
  width: 16px !important;
  height: 16px !important;
  line-height: 16px !important;
}
